@model PagedList.IPagedList<InventoryTool.Models.FeeCode>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
@using (Html.BeginForm("Index", "FeeCodes", FormMethod.Get))
{
    <p>
        Find by Fleet / Unit / LogNumber / Fee: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-info" />
    </p>
}


@using (Html.BeginForm("Importexcel", "ReadExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr><td>Excel file</td><td><input type="file" id="FileUpload1" name="FileUpload1" /></td>
        <td></td><td><input type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-info"  /></td></tr>
    </table>
}
<table class="table">
    <tr><td width="5px"></td></tr>
    <tr>
        <th>
            Fleet
        </th>
        <th>
            @Html.ActionLink("UNIT", "Index", new { sortOrder = ViewBag.UnitSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            LogNo
        </th>
        <th>
            CapCost
        </th>
        <th>
            BookValue
        </th>
        <th>
           Term
        </th>
        <th>
            Lpis
        </th>
        <th>
           Scontr
        </th>
        <th>
           InsPremium
        </th>
        <th>
            @Html.ActionLink("FEE", "Index", new { sortOrder = ViewBag.FeeSortParm, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th>
            Desc
        </th>
        <th>
            @Html.ActionLink("MM/YY", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Start
        </th>
        <th>
           Stop
        </th
        <th>
            Amt
        </th>
        <th>
            Method
        </th>
        <th>
           Rate
        </th>
        <th>
            BL
        </th>
        <th>
            AC
        </th>
        <th>
            Createdby
        </th>
        <th>
            Created
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fleet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lpis)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Scontr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsPremium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MMYY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Createdby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.FeeCode_Id }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.FeeCode_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeeCode_Id })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))